.body{									/* MODIFICATION CORPS PRINCIPAL */
	background-color: #f3f2f0;
}
#imgacceuil{
	width: 220px;
	height: auto;
	float: right;
	border: 1px solid white;
	cursor:pointer;
}
.decal{
	margin-top: 300px;
}
.butn{
	width: 100%;
	background-color: rgba(0,0,0,0.4);
	background-size : 0% 0%;
	height : 100px;
	line-height: 100px;
	font-size: 15px;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-top: 5px;
	margin-bottom: 10px;
	border:2px solid black;
	box-shadow: inset 0 0 0 0 white;
	transition: all 1s;
	cursor:pointer;
	border:1px solid white;
	color: white;
}
.butn:hover {
	box-shadow: inset 600px 0 0 0 white;
	color: black;
	font-size: 16px;
}
.champlog{
	width: 49%;
	transition: all 1s;
}
@media screen and (width: 1280px) {
	.decal{
		margin-top: 180px;
	}

}
@media screen and (width: 980px) {*
		#imgacceuil{
			float: none;
	}

}